body {
  font-family: 'muli', sans-serif;
  color: $color-primary;
}

.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;

  @include respond(mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.text-highlight {
  color: $color-secondary;
}

ul {
  list-style-type: none;
}
